*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 80px;
}

.search-input {
  padding: 10px;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #111;
  color: #888;
  font-size: 16px;
}

.cards {
  display: flex;
  gap: 10px;
}

.card {
   position: relative;
   width: 190px;
   height: 300px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.blurred-layer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: bottom;
   filter: blur(10px);
   z-index: 1;
   mask-image: linear-gradient(to top, rgba(0, 0, 0, 0));
   mask-size: 100%;
   mask-repeat: no-repeat;

   -webkit-mask-image: linear-gradient(
      to top,
      rgba(0,0,0,1),
      rgba(0, 0, 0, 0)
   );
   -webkit-mask-size: 100% 100%;
   -webkit-mask-repeat: no-repeat;
}

.content {
   position: absolute;
   bottom: 20px;
   left: 15px;
   color: rgb(230, 235, 232);
   z-index: 2;
}

.content h3 {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 6px;
}

.content p {
   font-size: 16px;
   color:  rgb(230, 235, 232);
   line-height: 1.2;
}